.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 20px;
}

.product-grid div {
    background-size: cover;
    background-position: center;
}

.product-grid img {
    width: 100%;
    height: auto%;
    object-fit: cover;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
